<div class="card mb-2">
  <div class="card-body">
    <p class="card-text">
      <% if matchup.option_a != nil %>
        <%= matchup.option_a.seed %>
        <%= matchup.round %>
      <% elsif true %>
        <%= matchup.round %>
      <% end %>
    </p>
    <p class="card-text">
      <% if matchup.option_b != nil %>
        <%= matchup.option_b.seed %>
      <% elsif true %>
        Blank for now
      <% end %>
    </p>
  </div>
</div>


