<div class="card mb-2">
  <div class="card-body">
    <% if matchup.round == 1 %>
      <%= render "matchups/versus_form", matchup: matchup %>
    <% else %>
      <%= matchup.round %>
      <% if matchup.previous_winners[0] != nil %>
        <%= matchup.previous_winners[0].name %>
      <% else %>
        Winner from previous round
      <% end %>
      <% if matchup.previous_winners[1] != nil %>
        <%= matchup.previous_winners[1].name %>
      <% else %>
        Winner from previous round
      <% end %>
    <% end %>
  </div>
</div>