<div class="card mb-2">
  <div class="card-body">
    <% if matchup.round == 1 %>
      <%= render "matchups/versus_form", matchup: matchup %>
    <% else %>
      <%= matchup.round %>
      <% if matchup.option_a != nil %>
        <%= matchup.option_a.name %>
      <% else %>
        Option_a is nil
      <% end %>
      <% if matchup.option_b != nil %>
        <%= matchup.option_b.name %>
      <% else %>
        Option_b is nil
      <% end %>
    <% end %>
  </div>
</div>