<div class="card mb-2">
  <div class="card-body">
    <p class="card-text">
      <% if matchup.round == 1 %>
        <%= render "entries/entry", entry: matchup.option_a %>
      <% else %>
        <%= matchup.round %>
        Winner from previous round
      <% end %>
    </p>
    <p class="card-text">
      <% if matchup.round == 1 %>
        <%= render "entries/entry", entry: matchup.option_b %>
      <% else %>
        <%= matchup.round %>
        Winner from previous round
      <% end %>
    </p>
  </div>
</div>