<% if matchup.bracket.status == "created" %>
  <div class="card mb-2" style="width: 250px;">
    <div class="card-body">
      <%= render "matchups/matchup_created", matchup: matchup %>
    </div>
  </div>
<% elsif matchup.bracket.status == "in_progress" %>
  <div class="card mb-2" style="width: 250px;">
    <div class="card-body">
      <%= render "matchups/matchup_in_progress", matchup: matchup %>
    </div>
  </div>
<% end %>