<div class="row">
  <div class="col-8">
    <div class="form-check disabled">
      <%= radio_button_tag "matchup[winner_id]", "option_a", false, disabled: true %>
      <%= label_tag "option_a", "Option A if present" %>
    </div>
    <div class="form-check disabled">
      <%= radio_button_tag "matchup[winner_id]", "option_a", false, disabled: true %>
    </div>
  </div>
  <div class="col-4">
    <button class="btn btn-primary">
      >
    </button>
  </div>
</div>